<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/adminassets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/auth.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/icofont.min.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/adminassets/images/faviconmatka.png">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/jquery.validation.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/datatables.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/select2.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/css/date-picker.css">
    <link rel="stylesheet" type="text/css" href="/adminassets/js/datepicker/wickedpicker.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <script type="text/javascript" src="/adminassets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/adminassets/js/popper.min.js"></script>
    <script type="text/javascript" src="/adminassets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/adminassets/js/swiper.min.js"></script>
    <script type="text/javascript" src="/adminassets/js/nice-select.min.js"></script>
    <script type="text/javascript" src="/adminassets/js/custom.js"></script>
    <script type="text/javascript" src="/adminassets/js/jquery.validate.js"></script>   
    <script type="text/javascript" src="/adminassets/js/jquery.validate.min.js"></script> 
    <script type="text/javascript" src="/adminassets/js/additional-methods.min.js"></script>            
    <script type="text/javascript" src="/adminassets/js/validation.js"></script> 
    <script type="text/javascript" src="/adminassets/js/customjs.js"></script>   
    <script type="text/javascript" src="/adminassets/js/datatables.min.js"></script>
    <script type="text/javascript" src="/adminassets/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="/adminassets/js/select2/select2.full.min.js"></script>
    <script type="text/javascript" src="/adminassets/js/select2/select2-custom.js"></script>
    <script type="text/javascript" src="/adminassets/js/datepicker/date-picker/datepicker.js"></script>
    <script type="text/javascript" src="/adminassets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script type="text/javascript" src="/adminassets/js/datepicker/date-picker/datepicker.custom.js"></script>
    <script type="text/javascript" src="/adminassets/tinymce/tinymce.min.js"></script>
  </body>
</html>
