<div class="card-body p-0">
	<form method="post" id="addStarlineGamesFrm" class="separate-form validation-form-container p-0 pb-2">
		<input type="hidden" name="game_id" id="game_id" value="">
		<input type="hidden" name="old_game_name" id="old_game_name" value="">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
					<div class="form-group">
						<label for="" class="col-form-label"><strong>Games Type</strong></label>
					   <select name="games_category" id="games_category" class="select2 form-control in_field js-example-basic-single">
						  <option value="">--Select Type--</option>
						  <option value=""></option>
					   </select>
					   <div class="ui corner label" id="demo1">
							<i class="asterisk icon">*</i>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
					<div class="form-group">
						<label class="col-form-label">Games Name</label>
						<input class="form-control in_field" type="text" placeholder="Enter Games Name" autocomplete="off" name="game_name" id="game_name" value="" >
						<div class="ui corner label star_box">
							<i class="asterisk icon">*</i>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="form-group">
						<label class="col-form-label">Game Open Time</label>
						<input class="form-control in_field" type="time" placeholder="Enter Game Open Time" name="open_time" id="open_time" value="">
						<div class="ui corner label star_box">
							<i class="asterisk icon">*</i>
						</div>
					</div>
				</div>
            </div>
			<div class="form-group mb-0">
				<button type="submit" class="effect-btn btn btn-primary squer-btn mt-2" id="submitBtn"><i class="fa fa-spin fa-spinner mr-2" id="btn_spinner"></i>Submit</button>
				<button type="reset" class="effect-btn btn btn-danger squer-btn mt-2 mr-2"><span>Reset</span></button>
        	</div>
			<div class="form-group mt-2">
                <p id="errormsg"></p>
            </div>
		</div>
	</form>
</div>   
<script>$(".js-example-basic-single").select2();</script>
<script src="/adminassets/js/jquery.validate.js"></script>   
<script src="/adminassets/js/jquery.validate.min.js"></script> 
<script src="/adminassets/js/additional-methods.min.js"></script>            
<script src="/adminassets/js/validation.js"></script> 	
